---
layout: default
title: Portfolio
permalink: /portfolio/
vanta: false
dark: true
---

<h1>Portfolio</h1>

<div class="project-stack">
  {% for project in site.portfolio %}
    <article class="project-card">
      <a class="project-title" href="{{ project.url | relative_url }}">{{ project.title }}</a>

      {% if project.excerpt %}
        <p class="project-excerpt">{{ project.excerpt }}</p>
      {% endif %}

      {% if project.tags %}
        <ul class="project-tags">
          {% for tag in project.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  {% endfor %}
</div>
